<form [formGroup]="form" (ngSubmit)="save($event)">
    <div>
      <label>Nombre</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div>
      <label>Apellido Paterno</label>
      <input type="text" id="ap" formControlName="ap">
    </div>
    <div>
      <label>Apellido Materno</label>
      <input type="text" id="am" formControlName="am">
    </div>
    <div>
      <label>Fecha Nacimiento</label>
      <input type="date" id="fnac" formControlName="fnac">
    </div>
    <div>
      <select name="genero" formControlName="genero" >
        <option *ngFor="let gen of generos">{{gen.nombre}}</option>
      </select>
    </div>
    <div>
      <label>Nacionalidad</label>
      <input type="" id="nacionalidad" formControlName="nacionalidad">
    </div>
    <div>
      <label>Club de Futbol</label>
      <input type="" id="club" formControlName="club">
    </div>
    <div>
      <label>RFC</label>
      <input type="varchar" id="rfc" formControlName="rfc">
    </div>
    <div>
      <label>Ocupacion</label>
      <input type="text" id="ocupacion" formControlName="ocupacion">
    </div>
    <button type="submit">Guardar</button>
</form>
